<label>Server Name</label>
<!--<input type="text" class="form-control" (input)="updateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="servername">
<p>Server Name  : {{ servername }}</p>
<button class="btn btn-primary" [disabled]="!allowNewServers" (click)="onCreateServer()">Add Server</button>
<p> {{ serverCreationStatus}} </p>
<app-server></app-server>
<app-server></app-server>
