<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3> This is my first app</h3>
            <hr>
            <app-servers></app-servers>
            <app-success-alert></app-success-alert>
           <!-- <app-warning-alert></app-warning-alert> -->
        </div>
    </div>
</div>