<hr>
<p>success-alert works!</p>
<label>User Name</label>
<input type="text" class="form-control" [(ngModel)]="userName">
<button class="btn btn-primary" [disabled]="userName === ''" (click)="onClickUserButton()">Reset User Name</button>
<p>User Name Value : {{userName}} </p>
